@import "../libs/reset.scss";
@import "../libs/mixins.scss";
@import "../libs/responsive.scss";

body,
form>button>i,
#page-footer>h2>a {
    @include font($fontFamily: Arial, $fontSize: 1.6rem, $colorFont: #fdcb46, $fontWeight: 400);
}


%shadow {
    box-shadow: 1px 1px 10px rgb(107, 107, 107);
}

#page-header,
#page-footer {
    background: #579c87;
    color: #fdcb46;
}

header {
    padding: 40px 0;

    a {
        text-decoration: none;
    }

    #logo {
        @include font($fontFamily: Arial, $fontSize: 2.7rem, $colorFont: #fdcb46, $fontWeight: 700);
        text-align: center;
    }

    &+form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend %shadow;
        padding: 10px 5px;

        input[type="text"] {
            border-style: none;
            font-size: 1.5rem;
            width: 60%;

            &::placeholder {
                color: #fdcb46;
            }


            &:focus {
                outline: #fdcb46 solid 1px;
            }
        }

        button {
            cursor: pointer;
            background-color: transparent;
            border: none;
        }


    }
}

@keyframes zoom_menu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menuName,
#mentions-legales {
    @include font($fontFamily: Arial, $fontSize: 1.6rem, $colorFont: #000, $fontWeight: 600);
    text-align: center;
    margin: 20px 0 20px 0;
}

.main {

    margin: 0 0 170px 0;

    .gallery {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .gallery-item {
            width: 500px;
            margin: 20px 10px 10px 10px;
            transform: scale(1);
            transition: transform 400ms cubic-bezier(0, 0.5,0,1);


            &:hover {
                animation: zoom_menu 500ms ease-in-out;
                transform: scale(1.05);
            }

            a {
                img {
                    @extend %shadow;
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }


    }

    p {
        margin: 20px 10px 40px 10px;
        @include font($fontFamily: Arial, $fontSize: 1.6rem, $colorFont: #fdcb46, $fontWeight: normal);
        background: #579c87;
        padding: 25px;
    }

    .button {

        display: block;
        font-size: 1.5rem;
        width: 95%;
        background: #579c87;
        border-radius: 5px;
        word-wrap: break-word;
        padding: 20px;
        border-style: none;
        margin: 20px auto 40px auto;
        text-align: center;

        h2 {
            font-family: 'Roboto Mono', monospace;
            display: inline-block;
            word-wrap: break-word;

            span {
                display: inline-block;
                overflow: hidden;
                letter-spacing: 2px;
                animation: typing 2s steps(4, end) infinite, blink .75s step-end infinite;
                white-space: nowrap;
                font-size: 30px;
                font-weight: 700;
                border-right: 4px solid #fdcb46;
                box-sizing: border-box;
            }
        }
    }
}

.singleMenu {
    text-align: justify;
    padding: 10px;

    article {
        .menu-part {
            display: flex;
            align-items: center;
            justify-content: space-between;

            hr {
                border: none;
                height: 5px;
                width: 15%;
            }
        }
    }


    #menu-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-weight: 700;
        }

    }

    ul:last-child {
        margin-bottom: 20px;
    }

    .menu-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        // Custom underline
        &::after {
            border-top: 2px solid black;
            content: "";
            position: absolute;
                right: 100%;
                bottom: 2px;
                left: 0;
            transition: right .4s cubic-bezier(0, 0.5,0,1);
        }

        &:hover::after {
            right: 0;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0 0 0;
    }

    #menu-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 40px 0;

        h3 {
            font-weight: 700;
        }

        i {
            font-size: 50px;
        }

        h3 {
            margin-left: 10px;
        }
    }
}

.noteEnchantee {

    background-color: #FCDFDB;
    @include font($fontFamily: Kalam, $fontSize: 1.6rem, $colorFont: #3D1319, $fontWeight: 300);

    i {
        font-size: 70px;
        background: -webkit-linear-gradient(left, #F15D61, #F6916A);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block;
    }

    hr {
        background: #3D1319;
    }
}

.chicFrancais {
    background-color: #FFF5FE;
    @include font($fontFamily: Merriweather, $fontSize: 1.6rem, $colorFont: #3D1319, $fontWeight: 300);

    #menu-header {
        background: -webkit-linear-gradient(left, #C67412, #6E4CCC);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    article {
        .menu-part {
            text-align: center;

            
        }
    }

    #appetit {
        color: #C67412;

        .menu-part {
            .menu-title {

                &::after {
                    border-color: #C67412;
                }

                &:hover::after {
                    right: 0;
                    border-color: #C67412;
                }
            }
        }
      

        hr {
            background: #C67412;
        }
    }

    #plaisir {
        color: #A56799;

        .menu-part {
            .menu-title {

                &::after {
                    border-color: #A56799;
                }

                &:hover::after {
                    right: 0;
                    border-color: #A56799;
                }
            }
        }

        hr {
            background: #A56799;
        }
    }

    #gourmandises {
        color: #6E4CCC;

        .menu-part {
            .menu-title {

                &::after {
                    border-color: #6E4CCC;
                }

                &:hover::after {
                    right: 0;
                    border-color: #6E4CCC;
                }
            }
        }

        hr {
            background: #6E4CCC;
        }
    }

    #menu-footer {
        background: -webkit-linear-gradient(left, #C67412, #6E4CCC);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}



.delicePapilles {
    background-color: #EDEFEF;
    @include font($fontFamily: Kalam, $fontSize: 1.6rem, $colorFont: #000, $fontWeight: 300);

    #menu-header {
        font-family: 'Petit Formal Script', cursive;
        ;
        background: -webkit-linear-gradient(left, #0228DD, #229DF9);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    article {
        .menu-part {
            text-align: center;
        }
    }

    #commencer {
        hr {
            background: #0228DD;
        }
    }

    #continuer {
        hr {
            background: #0670F3;
        }
    }

    #terminer {
        hr {
            background: #6E4CCC;
        }
    }

    #menu-footer {
        font-family: 'Petit Formal Script', cursive;
        background: -webkit-linear-gradient(left, #0228DD, #229DF9);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

.paletteGout {

    background-color: #FDFFFD;
    @include font($fontFamily: Kalam, $fontSize: 1.6rem, $colorFont: #000, $fontWeight: 300);

    #menu-header {
        font-family: Kaushan Script, cursive;
        background: -webkit-linear-gradient(left, #45993E, #B4F679);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    article {
        .menu-part {

            text-align: center;
            hr {
                background: -webkit-linear-gradient(left, #45993E, #B4F679);
            }

            hr:last-child {
                background: -webkit-linear-gradient(right, #45993E, #B4F679);
            }
        }
    }

    #menu-footer {
        font-family: Kaushan Script, cursive;
        background: -webkit-linear-gradient(left, #45993E, #B4F679);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 40%
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #fdcb46;
    }
}

#page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0px;
    width: 100%;

    font: {
        size: 1.7rem;
    }

    h2 {
        padding: 10px 0;

        &:hover {
            animation: wiggle 0.3s cubic-bezier(.4, .16, .74, 1.02);
        }

        a {
            text-decoration: none;
            font-size: 1.7rem;
        }
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(2%);
    }

    25% {
        transform: translateX(2% * -1);
    }

    50% {
        transform: translateX(2%);
    }

    75% {
        transform: translateX(2% * -1);
    }

    100% {
        transform: translateX(1%);
    }
}

@media #{$small-tablet-up} {
    .main {

        margin: 0 20px 170px 20px;

        .button {
            width: 50%;
            font-size: 1.8rem;
        }
    }

    .singleMenu {
        article {
            .menu-part {
                hr {
                    width: 30%;
                }
            }
        }
    }
}

@media #{$tablet-up} {

    .singleMenu {

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0 0 0;
        }
    }

}

@media #{$laptop-up} {

    .menuName {
        font-size: 2rem;

    }

    .singleMenu {
        padding: 70px 70px 10px 70px;

        #menu-header {
            font-size: 3rem;
            padding: 80px 0;
        }

        article {
            .menu-part {
                hr {
                    width: 30%;
                }
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0 0 0;
        }
    }

    .main {
        margin: 0px 40px 120px 40px;
        padding-top: 0;

        .button {
            width: 30%;
            font-size: 1.8rem;
        }

        .gallery {

            .gallery-item {
                width: 500px;
                margin: 30px;
            }
        }
    }

    #page-footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 40px;
    }

}

@media #{$desktop-up} {


    .menuName {
        font-size: 2rem;
    }

    .singleMenu {
        padding: 140px 140px 10px 140px;

        #menu-header {
            font-size: 3rem;
            padding: 80px 0;
        }

        article {
            .menu-part {
                hr {
                    width: 35%;
                }
            }
        }

        hr {
            width: 35%;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0 0 0;
        }
    }

    .main {
        margin: 0px 100px 120px 100px;
        padding-top: 0;

        .button {

            font-size: 1.8rem;
        }

        .gallery {

            .gallery-item {
                width: 400px;
                margin: 30px;

            }
        }

        .button {
            width: 30%;
        }
    }

    #page-footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 40px;
    }

}