/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

body,
form > button > i,
#page-footer > h2 > a {
  font-family: Arial;
  font-size: 1.6rem;
  color: #fdcb46;
  font-weight: 400;
}

.main .gallery .gallery-item a img, header + form {
  box-shadow: 1px 1px 10px #6b6b6b;
}

#page-header,
#page-footer {
  background: #579c87;
  color: #fdcb46;
}

header {
  padding: 40px 0;
}
header a {
  text-decoration: none;
}
header #logo {
  font-family: Arial;
  font-size: 2.7rem;
  color: #fdcb46;
  font-weight: 700;
  text-align: center;
}
header + form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}
header + form input[type=text] {
  border-style: none;
  font-size: 1.5rem;
  width: 60%;
}
header + form input[type=text]::placeholder {
  color: #fdcb46;
}
header + form input[type=text]:focus {
  outline: #fdcb46 solid 1px;
}
header + form button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@keyframes zoom_menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menuName,
#mentions-legales {
  font-family: Arial;
  font-size: 1.6rem;
  color: #000;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 20px 0;
}

.main {
  margin: 0 0 170px 0;
}
.main .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main .gallery .gallery-item {
  width: 500px;
  margin: 20px 10px 10px 10px;
  transform: scale(1);
  transition: transform 400ms cubic-bezier(0, 0.5, 0, 1);
}
.main .gallery .gallery-item:hover {
  animation: zoom_menu 650ms ease-in-out;
  transform: scale(1.05);
}
.main .gallery .gallery-item a img {
  width: 100%;
  height: auto;
  display: block;
}
.main p {
  margin: 20px 10px 40px 10px;
  font-family: Arial;
  font-size: 1.6rem;
  color: #fdcb46;
  font-weight: normal;
  background: #579c87;
  padding: 25px;
}
.main .button {
  display: block;
  font-size: 1.5rem;
  width: 95%;
  background: #579c87;
  border-radius: 5px;
  word-wrap: break-word;
  padding: 20px;
  border-style: none;
  margin: 20px auto 40px auto;
  text-align: center;
}
.main .button h2 {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  word-wrap: break-word;
}
.main .button h2 span {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 2s steps(4, end) infinite, blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid #fdcb46;
  box-sizing: border-box;
}

.singleMenu {
  text-align: justify;
  padding: 10px;
}
.singleMenu article .menu-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.singleMenu article .menu-part hr {
  border: none;
  height: 5px;
  width: 15%;
}
.singleMenu #menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleMenu #menu-header h3 {
  font-weight: 700;
}
.singleMenu ul:last-child {
  margin-bottom: 20px;
}
.singleMenu .menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.singleMenu .menu-title::after {
  border-top: 2px solid black;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 2px;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
}
.singleMenu .menu-title:hover::after {
  right: 0;
}
.singleMenu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}
.singleMenu #menu-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 40px 0;
}
.singleMenu #menu-footer h3 {
  font-weight: 700;
}
.singleMenu #menu-footer i {
  font-size: 50px;
}
.singleMenu #menu-footer h3 {
  margin-left: 10px;
}

.noteEnchantee {
  background-color: #FCDFDB;
  font-family: Kalam;
  font-size: 1.6rem;
  color: #3D1319;
  font-weight: 300;
}
.noteEnchantee i {
  font-size: 70px;
  background: linear-gradient(to right, #F15D61, #F6916A);
  -webkit-background-clip: text;
  color: transparent;
  display: block;
}
.noteEnchantee hr {
  background: #3D1319;
}

.chicFrancais {
  background-color: #FFF5FE;
  font-family: Merriweather;
  font-size: 1.6rem;
  color: #3D1319;
  font-weight: 300;
}
.chicFrancais #menu-header {
  background: linear-gradient(to right, #C67412, #6E4CCC);
  -webkit-background-clip: text;
  color: transparent;
}
.chicFrancais article .menu-part {
  text-align: center;
}
.chicFrancais #appetit {
  color: #C67412;
}
.chicFrancais #appetit .menu-part .menu-title::after {
  border-color: #C67412;
}
.chicFrancais #appetit .menu-part .menu-title:hover::after {
  right: 0;
  border-color: #C67412;
}
.chicFrancais #appetit hr {
  background: #C67412;
}
.chicFrancais #plaisir {
  color: #A56799;
}
.chicFrancais #plaisir .menu-part .menu-title::after {
  border-color: #A56799;
}
.chicFrancais #plaisir .menu-part .menu-title:hover::after {
  right: 0;
  border-color: #A56799;
}
.chicFrancais #plaisir hr {
  background: #A56799;
}
.chicFrancais #gourmandises {
  color: #6E4CCC;
}
.chicFrancais #gourmandises .menu-part .menu-title::after {
  border-color: #6E4CCC;
}
.chicFrancais #gourmandises .menu-part .menu-title:hover::after {
  right: 0;
  border-color: #6E4CCC;
}
.chicFrancais #gourmandises hr {
  background: #6E4CCC;
}
.chicFrancais #menu-footer {
  background: linear-gradient(to right, #C67412, #6E4CCC);
  -webkit-background-clip: text;
  color: transparent;
}

.delicePapilles {
  background-color: #EDEFEF;
  font-family: Kalam;
  font-size: 1.6rem;
  color: #000;
  font-weight: 300;
}
.delicePapilles #menu-header {
  font-family: "Petit Formal Script", cursive;
  background: linear-gradient(to right, #0228DD, #229DF9);
  -webkit-background-clip: text;
  color: transparent;
}
.delicePapilles article .menu-part {
  text-align: center;
}
.delicePapilles #commencer hr {
  background: #0228DD;
}
.delicePapilles #continuer hr {
  background: #0670F3;
}
.delicePapilles #terminer hr {
  background: #6E4CCC;
}
.delicePapilles #menu-footer {
  font-family: "Petit Formal Script", cursive;
  background: linear-gradient(to right, #0228DD, #229DF9);
  -webkit-background-clip: text;
  color: transparent;
}

.paletteGout {
  background-color: #FDFFFD;
  font-family: Kalam;
  font-size: 1.6rem;
  color: #000;
  font-weight: 300;
}
.paletteGout #menu-header {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #45993E, #B4F679);
  -webkit-background-clip: text;
  color: transparent;
}
.paletteGout article .menu-part {
  text-align: center;
}
.paletteGout article .menu-part hr {
  background: linear-gradient(to right, #45993E, #B4F679);
}
.paletteGout article .menu-part hr:last-child {
  background: linear-gradient(to left, #45993E, #B4F679);
}
.paletteGout #menu-footer {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #45993E, #B4F679);
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}
@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fdcb46;
  }
}
#page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 1.7rem;
}
#page-footer h2 {
  padding: 10px 0;
}
#page-footer h2:hover {
  animation: wiggle 0.3s cubic-bezier(0.4, 0.16, 0.74, 1.02);
}
#page-footer h2 a {
  text-decoration: none;
  font-size: 1.7rem;
}

@keyframes wiggle {
  0% {
    transform: translateX(2%);
  }
  25% {
    transform: translateX(-2%);
  }
  50% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(1%);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    margin: 0 20px 170px 20px;
  }
  .main .button {
    width: 50%;
    font-size: 1.8rem;
  }

  .singleMenu article .menu-part hr {
    width: 30%;
  }
}
@media only screen and (min-width: 865px) and (max-width: 1024px) {
  .singleMenu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .menuName {
    font-size: 2rem;
  }

  .singleMenu {
    padding: 70px 70px 10px 70px;
  }
  .singleMenu #menu-header {
    font-size: 3rem;
    padding: 80px 0;
  }
  .singleMenu article .menu-part hr {
    width: 30%;
  }
  .singleMenu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
  }

  .main {
    margin: 0px 40px 120px 40px;
    padding-top: 0;
  }
  .main .button {
    width: 30%;
    font-size: 1.8rem;
  }
  .main .gallery .gallery-item {
    width: 500px;
    margin: 30px;
  }

  #page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1600px) {
  .menuName {
    font-size: 2rem;
  }

  .singleMenu {
    padding: 140px 140px 10px 140px;
  }
  .singleMenu #menu-header {
    font-size: 3rem;
    padding: 80px 0;
  }
  .singleMenu article .menu-part hr {
    width: 35%;
  }
  .singleMenu hr {
    width: 35%;
  }
  .singleMenu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
  }

  .main {
    margin: 0px 100px 120px 100px;
    padding-top: 0;
  }
  .main .button {
    font-size: 1.8rem;
  }
  .main .gallery .gallery-item {
    width: 400px;
    margin: 30px;
  }
  .main .button {
    width: 30%;
  }

  #page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
  }
}

/*# sourceMappingURL=style.css.map */
