/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

* {
  font-family: Arial;
  font-size: 1rem;
  color: #fdcb46;
  font-weight: 400;
}

.main .singleMenu, .main .gallery .gallery-item a img, header + form {
  box-shadow: 1px 1px 10px #6b6b6b;
}

header,
footer {
  background: #579c87;
}

header {
  padding: 40px 0;
}
header a {
  text-decoration: none;
}
header #logo {
  font-family: Arial;
  font-size: 3rem;
  color: #fdcb46;
  font-weight: 700;
  text-align: center;
}
header + form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 5px;
}
header + form button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
header + form input[type=text] {
  border-style: none;
  font-size: 1.5rem;
  flex-grow: 1;
}
header + form input[type=text]:focus {
  outline: #fdcb46 solid 1px;
}

@keyframes zoom_menu {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.05);
    opacity: 1;
  }
}
.main {
  margin: 5px 5px 150px 5px;
}
.main .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main .gallery .gallery-item {
  width: 500px;
  margin: 20px 10px 10px 10px;
  transform: scale(1);
  transition: transform 400ms ease-in-out;
}
.main .gallery .gallery-item:hover {
  animation: zoom_menu 400ms ease-in-out;
  transform: scale(1.05);
  opacity: 1;
}
.main .gallery .gallery-item a img {
  width: 100%;
  height: auto;
  display: block;
}
.main p {
  margin: 20px 10px 40px 10px;
  font-family: Arial;
  font-size: 1.6rem;
  color: #fdcb46;
  font-weight: normal;
  background: #579c87;
  padding: 25px;
}
.main .menuName,
.main #mentions-legales {
  font-family: Arial;
  font-size: 1.6rem;
  color: #000;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
.main .singleMenu {
  margin: 20px 10px 40px 10px;
  transform: scale(1);
  transition: transform 400ms ease-in-out;
  cursor: pointer;
}
.main .singleMenu:hover {
  animation: zoom_menu 400ms ease-in-out;
  transform: scale(1.05);
  opacity: 1;
}
.main .singleMenu img {
  width: 100%;
  display: block;
}
.main .button {
  display: block;
  font-size: 2rem;
  width: 95%;
  background: #579c87;
  border-radius: 5px;
  word-wrap: break-word;
  padding: 20px;
  border-style: none;
  margin: 20px auto 40px auto;
  text-align: center;
}
.main .button h2 {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  word-wrap: break-word;
}
.main .button h2 span {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 2s steps(4, end) infinite, blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid #fdcb46;
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}
@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fdcb46;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 1.7rem;
}
footer h2 {
  padding: 10px 0;
}
footer h2:hover {
  animation: wiggle 0.3s cubic-bezier(0.4, 0.16, 0.74, 1.02);
}
footer h2 a {
  text-decoration: none;
  font-size: 1.7rem;
}

@keyframes wiggle {
  0% {
    transform: translateX(2%);
  }
  25% {
    transform: translateX(-2%);
  }
  50% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(1%);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main .button {
    width: 50%;
  }
  .main .singleMenu {
    width: 80%;
    margin: 20px auto 40px auto;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .main {
    margin: 50px 30px 120px 30px;
  }
  .main .button {
    width: 30%;
  }
  .main .gallery .gallery-item {
    width: 500px;
    margin: 30px;
  }
  .main .menuName {
    font-size: 2rem;
  }
  .main .singleMenu {
    width: 70%;
    margin: 20px auto 40px auto;
  }
  .main .singleMenu img {
    width: 100%;
    display: block;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1600px) {
  .main {
    margin: 50px 30px 170px 30px;
  }
  .main .gallery .gallery-item {
    width: 400px;
    margin: 30px;
  }
  .main .menuName {
    font-size: 2rem;
  }
  .main .singleMenu {
    width: 60%;
    margin: 20px auto 40px auto;
  }
  .main .button {
    width: 30%;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
  }
}

/*# sourceMappingURL=style.css.map */
